<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments::head(title='Index')">
	</head>
	<body>
		<nav th:replace="fragments::menu"></nav>
		<div class="container text-center">

			<div class="container p-3 my-3 bg-dark text-white">
				<h1>To do's from
					<th:block sec:authentication="name"></th:block>
				</h1>
			</div>

			<th:block th:if="${todos}" th:object="${todos}">

				<form th:action="@{/todos/deleteitems}" method="post">
					<div class="container p-3 my-3 border">
						<table class="table table-striped">
							<tr>
								<!-- <th scope="col">#</th> -->
								<th scope="col">Item description</th>
								<th scope="col">Done</th>
								<th scope="col"></th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="todo : ${todos}" th:object="${todo}">
									<!-- <th scope="row" th:text="${todo.id}"></th> -->
									<th scope="row" th:text="${todo.itemDescription}"></th>
									<th scope="row" th:text="${todo.itemDone}"></th>
									<th scope="row">
										<input th:field="${todoItemForm.selectedTodoItemsIds}" type="checkbox" name="id" th:value="*{id}">
									</th>
								</tr>
							</tbody>
						</table>
						<button>Delete items</button>
					</div>
				</form>
			</th:block>

			<div class="container p-3 my-3 border">
				<form method="post" th:action="@{/todos/additem}" th:object="${addItemForm}">
					<input th:field="*{description}" required type="text">
					<button>Add item</button>
				</form>
			</div>

			<div class="container p-3 my-3 border">
				<button>Update</button>
			</div>

			<div sec:authorize="isAuthenticated()">
				<div class="container p-3 my-3 border">
					<form method="post" th:action="@{/logout}">
						<button>Sign off</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>